main {
			margin: 80px;
		}

		* {
			font-family: Helvetica, sans-serif;
		}

		h6 { 
			margin-top: -20px;
		 }

.area {
	margin: 50px 20px 0 20px;
	padding: 20px;
	min-height: 100px;
	min-width: 100px;

	/*border: 1px solid red;*/
 }

#intake {
	display: flex;
	flex-direction: row;
}

#thing-maker {
	flex-basis: 60%;
}

.thing {
	margin: 10px;
	padding: 15px;
	text-align: center;
	border: 1px solid darkslategrey;
}

.khaki {
	background-color: khaki;
}

.lavender {
	background-color: lavender;
}

.lightcoral {
	background-color: lightcoral;
}

#rule-setter {
	flex-basis: 30%;
}

.form-section {
	margin: 30px 0;
}